<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
    <link rel="stylesheet" href="/student.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:wght@500&family=Kanit&family=Montserrat:wght@100&family=Nosifer&family=Playfair+Display:wght@400;500&family=Poppins:wght@400;700&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
     <div class="header">
       <h1>Student's Portal</h1>

     </div>
     <div class="user">
     <p>Name             : {{ student.name }}</p>
     <p>Registration no. :  {{student.reg_no}} </p>
     <p>Course :{{ student.course}} </p>
     <p>Current year : {{student.year}}</p>
     <p>Hostel's name : {{student.hostel}} </p>
     <button>Logout</button>



     </div>
     
     <div class="complaint">
        
           <h3>Complaints</h3>
           <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Status</th>
                  
                </tr>
            </thead>
            <tbody>
                {{#each complaints}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{category}}</td>
                    <td>{{status}}</td>
                </tr>
                
             {{/each}}  
            </tbody>
        </table>


     </div>
     <form action="/student" method="POST">
     <div class="file_comp">
        <label for="category">Category of complaint :  <input type="text" name="category" id="category"></label>
        
        <input type="hidden"  name="name" value="{{student.name}}" >
        <input type="hidden"  name="reg_no" value="{{student.reg_no}}" >

        <input type="hidden" id="status" name="status" value="unresolved">
        <textarea placeholder="Type Your Complaint Here..." name="complaint" required></textarea>
        <input type="submit" name="submit" id="submit">
     </div>
     </form>
     <footer class="foot">
       
     </footer>
<script>
    const textarea=document.querySelector("textarea");
    textarea.addEventListener("keyup",e =>{
        let scheight = e.target.scrollHeight;
        textarea.style.height ="auto";
        textarea.style.height = `${scheight}px`;

    })
    

</script>

</body>
</html>